body {
	margin: 0;
	padding: 0;
}
#app {
	position: relative;
}

#resize {
	position:absolute;top: 0;
	left:0;
	fill: #525151;
	height: 50px;
	width: 50px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
body {
	line-height: 0;
	font-size: 0;
	/* overflow: hidden; */
	position: relative;
	font-family: "Comic Sans", "Comic Sans MS", cursive, sans-serif; 
	overflow-x: hidden;
	overflow-y: scroll;
}
#buttons {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}
#buttons a {
	height: 50px;
	width: 200px;
	border-radius: 3px;
	margin-bottom: 10px;
	color: red;
	font-weight: bold;
	display: block;
	font-size: 15px;
	line-height: 50px;
	background: white;
	text-align: center;
	text-decoration: none;
}

#imgurl {
	font-size:14px;
	line-height:16px;
}


/* upload things */
#holder { border: 10px dashed #ccc; width: 300px; min-height: 300px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width: 100%; }
progress:after { content: '%'; }
.fail { background: #c00; padding: 2px; color: #fff; }
.hidden { display: none !important;}

